@import './colors.scss';

// Bootstrap variables
$spacer: 3rem;
$font-size-base: 1.7rem;

// Bootstrap colors
$primary: $main-color;

// Imports
@import './bootstrap-components.scss';
@import './animations.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './my-buttons.css';

// Fonts
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2.5rem;
}

h1, h2 {
  font-weight: bold;
}
